body{
font-family: 'Roboto', sans-serif;


}



/***navbar***/
.nav-itam {
    letter-spacing: 2em;
    front-size:14px;
    text-transform:uppercase;

}

.dropdown-itam{

    letter-spacing: .2em;
    front-size:14px;
    text-transform:uppercase;



}
.my_footer{
                color:#a8a800;
                height:60px;
                text-align:bottom;

}


.my_footer p{
                padding-top:20px;
                front-size:14px;


}
/***category page***/
.my_row_class{
                padding-top :15px;
}
.my_row_class .mx_auto{
                        color:black;
                        font-size:12px;


}
.my_image{

            height:auto;

            width: 100%;

}
.my_title{
            font-size:16px;
            text-transform:uppercase;
            letter-spacing:.2em;
}


.my_image_padding{

                    padding-size:5px;
}

.my_bottam_margin{
                    margin-bottom:10px;
                    width:200px;
                    height:200px;


}
.card-body h2
{
                    font-size:14px;
                    text-transform:uppercase;
                    letter-spacing:.2em;







/********product page******/

.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;

}
.my_prod_row_class.mx_auto{

color:black;
font-size:12px;
text-decoration:none;

}
.my_prod_title{

font-size:16px;
text_transform:uppercase;
letter-spacing:2em;
padding-top:15px;
padding-bottom:10px;


}
.my_search_text{
padding-top:20px

}
/***cart page***/

.my_custom_table{
    min-width:400px;
    font-size:14px;


}
.my_custom_thead{

    font-weight:normal;
    text_transform:uppercase;
    letter-spacing:.2em;
    color:#00002e;
    padding-bottom:10px;
}
.custom_a{
    text-decoration:none;
}

.custom_icon{
    text_decoration:none;
    color:#868e96 !important;

}
.my_custom_button{
    margin-top:5px;

}