{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
  <img class="" src="{{i.img.url}}" alt="Card image cap" height="200px" width="200px">
  <div class="card-body"><br>
    <h5 class="card-title">{{i.name}}</h5><br>
    <p class="card-text">{{i.desc}}</p><br>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
